.container {
  gap: 90px;
  display: flex;
  flex-direction: row;
  overflow-wrap: normal;
  animation: slideInRight 20s linear infinite;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(100%);
  }
}
