.Blog3 {
  z-index: 0;
  display: flex;
  opacity: 0.15;
  color: #182e56;
  font-size: 60px;
  font-weight: 700;
  margin-top: -45px;
  stroke-width: 2px;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fbfbfb;
}
.Blog2 {
  z-index: 10;
  color: white;
  display: flex;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
}
.Blog1 {
  z-index: 0;
  display: flex;
  opacity: 0.15;
  color: #182e56;
  font-size: 60px;
  font-weight: 700;
  stroke-width: 2px;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fbfbfb;
}

.AboutUs3 {
  z-index: 0;
  display: flex;
  opacity: 0.15;
  color: #182e56;
  font-size: 60px;
  font-weight: 700;
  margin-top: -45px;
  stroke-width: 2px;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fbfbfb;
}
.AboutUs2 {
  z-index: 10;
  color: white;
  display: flex;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
}
.AboutUs1 {
  z-index: 0;
  display: flex;
  opacity: 0.15;
  color: #182e56;
  font-size: 60px;
  font-weight: 700;
  stroke-width: 2px;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fbfbfb;
}

.FAQ3 {
  z-index: 0;
  display: flex;
  opacity: 0.15;
  color: #182e56;
  font-size: 60px;
  font-weight: 700;
  margin-top: -45px;
  stroke-width: 2px;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fbfbfb;
}
.FAQ2 {
  z-index: 10;
  color: white;
  display: flex;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
}
.FAQ1 {
  z-index: 0;
  display: flex;
  opacity: 0.15;
  color: #182e56;
  font-size: 60px;
  font-weight: 700;
  stroke-width: 2px;
  position: relative;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fbfbfb;
}
